body>.main-container {
    max-width: 630px;
    margin: 50px auto
}

header {
    max-width: 700px;
    margin: 0 auto 20px auto;
    font-size: 48px;
    text-align: center
}

header em {
    font-size: 15px
}

footer {
    max-width: 700px;
    margin: 0 auto 20px auto;
    text-align: center
}

h2 {
    margin-top: 40px !important;
    margin-bottom: 15px !important;
}

.newFeature {
    color: red;
}

#saveConfirmationBottomBar {
    display: none;
    position: sticky;
    left: 0;
    width: 100%;
    background: #00A388;
    bottom: 0;
    color: #fff;
    height: 60px;
    line-height: 60px;
    z-index: 10;

    text-align: center;
    font-size: 16px;
}